.form-container {
  display: flex;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;

    * {
      width: 100%;
    }

    input {
      margin-bottom: 15px;
    }
  }

  &#RecoverPasswordForm {
    flex-direction: column;

    &.hide {
      display: none;
    }
  }
}
